{{define "partial:flashMessages"}}
     <!-- Messages -->
 {{if .Messages}}
 <h3>Messages:</h3>
 <ul>
     {{range .Messages}}
     <li class="message-level-{{.Level}}">{{.Level}}: {{.Message}}</li>
     {{end}}
 </ul>
 {{end}}
{{end}}


