{{define "partial:footer"}}
<footer style="display:flex;justify-content:space-around;margin-top:3em;">
    <small>
        &copy; 2025 - {{now | formatTime "2006"}} Stephen Gilmore
        <br>
    </small>
</footer>
{{end}}