{{define "partial:nav"}}
<nav class="mx-auto flex max-w-xl gap-4">
    <strong>Some Site</strong>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="#">Example link</a>
</nav>
{{end}}