{{define "partial:nav"}}
<nav style="display:flex;column-gap:2ch;">
    <strong>Some Site</strong>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="#">Example link</a>
</nav>
{{end}}